* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html, body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
}

#nav{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

#nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.icon {
    height: 22px;
    width: 22px;
    background-color: black;
    border-radius: 50%;
}

#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#nav-part2 h4{
    font-size: 16px;
    font-weight: 500;
}

#nav-part2 h4 span{
    color: rgb(106, 103, 103);
    margin-left: 25px;
}

#nav2 {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 90px;
    padding: 0 50px;
}

#nav2 h3{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
}

#content{
    height: calc(100% - 150px);
    width: 100%;
}

#text-content{
    height: 45%;
    width: 100%;
    display: flex;
    overflow-x: auto;
}

#text-content::-webkit-scrollbar{
    background-color: transparent;
    height: 7px;
}

#text-content::-webkit-scrollbar-thumb{
    background-color: rgb(246, 145, 45);
}

.elem{
    flex-shrink: 0;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.elem h1{
    user-select: none;
    font-size: 100px;
    font-weight: 300;

}

#image{
    height: 55%;
    width: 100%;
    display: flex;
    overflow-x: auto;
}

#image::-webkit-scrollbar{
    display: none;
}

#image::-webkit-slider-thumb{
    background-color: #fff;
}

#image img{
    width: 80%;
    height: 100%;
    object-fit: cover;
    object-position:center;
    flex-shrink: 0;
    
}